body {
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;
	background-position: center;
	background-color: rgba(0,0,0,1);
 	background-image: url("https://images.unsplash.com/photo-1554829399-6c2c3863cb46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80");
	width: 960px;
	margin: 0 auto;
}

h1 {
	font-family: 'Montserrat Subrayada', sans-serif;
}

a {
	text-decoration: none;
}

#navbar-container {
	background-color: rgba(14,14,14,0.6);
	font-size: 16px;
}

#navbar-container h1 {
	font-size: 26px;
	color: rgba(242,156,80,.7);
}

.header {
	background-color: rgba(14,14,14,0.6);
	width: 960px;
	height: 374px;
	text-align: center;
	padding: 10px;
}

.header, h5{
	color: rgba(217,213,89,1);
	font-family: 'Montserrat', sans-serif;
}

.headerInfo, h4, h2{
	color: rgba(217,213,89,1);
	font-weight: 800px;
}

.headerInfo, h4:hover{
	color: rgba(2,89,89,.6);
}

.headerInfo {
	display: flex;
	flex-direction: row;
}

.headshotContainer {
	background-image: url("../images/CSS_headshot.png");
	z-index: 1;
	width: 320px;
	height: 320px;
	background-size: cover;
	background-position: center;
	margin-left: 305px;
}

.headshotContainer:hover {
	border: 1px solid azure;
}

.aboutMeTitle {
	text-align: center;
	color: rgba(242,156,80,.7);
}

#about {
	color: rgba(217,213,89,1);
	font-family: 'Montserrat', sans-serif;
	width: 960px;
	height: 288px;
}

.aboutMe {
	background-color: rgba(14,14,14,0.6);
	width: 960px;
	height: 288px;
	justify-content: flex-start;
	padding: 20px;
}

#portfolio {
	background-color: rgba(14,14,14,0.6);
	color: rgba(242,156,80,.7);
	width: 960px;
	height: 320px;
	justify-content: flex-start;
	text-align: center;
	padding: 20px;
}

.project-info, h4 {
	color: rgba(255,255,255,1);
	font-family: 'Montserrat', sans-serif;
}

.ssCard {
	background-image: url("../images/ss.png");
	background-size: cover;
	background-position: center;
	display: flexbox;
}

.cardInfo--content {
	min-width: 480px;
	margin: 5px;
	text-align: justify;
	margin: 0 0 auto;
}

#card--content {
	background-color: rgba(14,14,14,.6);
	min-width: 480px;
	margin: 5px;
	color: rgba(14,14,14,.7);
}

#cardContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ssCard {
	background-image: url("../images/ss.png");
	height: 360px;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.ssCardText {
	margin-bottom: 50px;
}

.toolCard {
	background-image: url("../images/toolshed.png");
	height: 360px;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.cardText {
	background-color: rgba(14,14,14,.6);
}

.latenightCard {
	background-image: url("../images/late-night-bytes.png");
	height: 360px;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

#contact {
	background-color: rgba(14,14,14,.6);
	width: 960px;
	height: 480px;
	text-align: center;
	color: rgba(242,156,80,.7);
	padding-top: 188px;
}

.infoLinkContainer {
	display: flexbox;
}

.infoLinks {
	flex-direction: column;
	justify-content: center;
	font-weight: 800px;
}

.footer {
	background-color: rgba(14,14,14,.6);
	display: flexbox;
}

.footer h4 {
	text-align: center;
}